<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    <div class="mt-3">
        <p class="p-small-one">Claudiu Frusina</p>
        <p class="p-small-one">Benvenuto! welcome! willkommen!</p>
        <p class="p-small-one">Questo è il mio blog personale creato in Flask!</p>               
        <hr>
        <p class="p-small-one text-muted">Nulla si crea e nulla si distrugge ma tutto si impara ;)</p>
    </div>
</div>



