{% extends 'base.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<div class="container content-container">

    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            <div class="about-page-block">
                <p class="lead">Contact Me.</p>
                <p>Puoi contattarmi attraverso il mio indirizzo email o i canali social</p>
                <hr>
                <p>Email: <a class="custom-link" href="mailto:claudiu.frusina@gmail.com" target="_blank">claudiu.frusina@gmail.com</a> </p>
                <p>Facebook: <a class="custom-link" href="https://www.facebook.com/frusinaclaudiu" target="_blank">Frusina Claudiu</a> </p> 
                <p>Linkedin: <a class="custom-link" href="https://www.linkedin.com/in/claudiu-frusina-bb31988a/" target="_blank">Claudiu Frusina</a> </p> 
                <p>Instagram: <a class="custom-link" href="https://www.instagram.com/cl4ud_94/" target="_blank">cl4ud_94</a> </p> 
                <hr>
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('about') }}">About me</a>
            </div>    
        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}              
        </div>

    </div>
    
</div>
{% endblock %}