{% extends 'base.html' %}

{% block title %}401 Pagina non trovata{% endblock %}

{% block content %}
<div class="container content-container">

    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            <div class="about-page-block">
                <p class="lead">Errore 401</p>
                <hr>
                <p>Accesso negato!</p>
                <p>Non di dispone dei permessi necessari. Cosa stavi cercando di fare?</p>
                <hr>
                <a href="{{ url_for('homepage') }}" class="btn btn-outline-secondary">Visualizza tutti i post</a>
            </div>    
        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}              
        </div>

    </div>
    
</div>
{% endblock %}